@import "tailwindcss";


@layer utilities {
    .animate-marquee {
      animation: marquee 30s linear infinite;
    }
    
    .animate-marquee-reverse {
      animation: marquee 30s linear infinite reverse;
    }
    
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  
  /* For smoother animations */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  /* Chrome, Safari, Edge */
.custom-date-input::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1); /* makes it white */
  cursor: pointer;
}

/* Firefox */
.custom-date-input::-moz-focus-inner {
  color: white;
}

/* Optional: remove default background */
.custom-date-input::-webkit-inner-spin-button,
.custom-date-input::-webkit-clear-button {
  display: none;
}
