@import "tailwindcss";


@layer utilities {
    .animate-marquee {
      animation: marquee 30s linear infinite;
    }
    
    .animate-marquee-reverse {
      animation: marquee 30s linear infinite reverse;
    }
    
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  
  /* For smoother animations */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* Date Picker Light Theme */
.date-light::-webkit-calendar-picker-indicator {
  filter: none; /* Default color for light theme */
  cursor: pointer;
}

/* Date Picker Dark Theme */
.date-dark::-webkit-calendar-picker-indicator {
  filter: brightness(0) invert(1); /* Makes it white for dark theme */
  cursor: pointer;
}

/* Optional: remove default background for both themes */
.custom-date-input::-webkit-inner-spin-button,
.custom-date-input::-webkit-clear-button {
  display: none;
}

/* Firefox styling for both themes */
.date-light::-moz-focus-inner {
  color: black;
}

.date-dark::-moz-focus-inner {
  color: white;
}