@import "tailwindcss";


@layer utilities {
    .animate-marquee {
      animation: marquee 30s linear infinite;
    }
    
    .animate-marquee-reverse {
      animation: marquee 30s linear infinite reverse;
    }
    
    @keyframes marquee {
      0% {
        transform: translateX(0%);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }
  
  /* For smoother animations */
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }